<nav class="nav">
  <button class="nav__button">
    <img src="./assets/menu.png" alt="menu" class="nav__menu-image">
    <img src="./assets/close.png" alt="close" class="nav__close-image image--invisible">
  </button>
  <ul class="nav__list">
    <li class="nav__list-item"><a href="/">Le coté lumineux</a></li>
    <li class="nav__list-item"><a href="/">Le coté obscur</a></li>
    <li class="nav__list-item"><a href="/">L'empire</a></li>
    <li class="nav__list-item"><a href="/">Les droïdes</a></li>
    <li class="nav__list-item"><a href="/">Les ewoks</a></li>
    <li class="nav__list-item"><a href="/">Jabba le hutt</a></li>
  </ul>
</nav>

<header class="hero">
  <div class="hero__container">
    <img src="./assets/logo.png" alt="" class="hero__image parallax">
  </div>
</header>

<main>
  <section class="first-section text-container">
    <div class="first-section__text">
      <p>
        Star Wars, The Force Awakens
      </p>
      <br>
      <p>
        Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ».
      </p>
      <br>
      <p>
        Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
      </p>
      <br>
      <p>
        Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ».
      </p>
      <br>
      <p>
        Un mystérieux guerrier, <u>Kylo Ren</u>, semble vouer un culte à <u>Dark Vador</u> et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un <u>Stormtrooper</u> en fuite, une rencontre qui bouleversera sa vie.
      </p>
      <br>
      <p>
        Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « <u>Résistance</u> », combattent les vestiges de l'Empire réunis sous la bannière du « <u>Premier Ordre</u> ».
      </p>
      <br>
      <p>
        Un mystérieux guerrier, Kylo Ren, semble vouer un culte à <u>Dark Vador</u> et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.
      </p>
    </div>
    <img src="./assets/ad.jpg" alt="PS4 Star Wars Battlefront game cover" class="first-section__image">
  </section>

  <section class="second-section">
    <img src="./assets/kiloren.jpg" alt="Kilo Ren" class="second-section__banner">
    <div class="text-container">
      <h2 class="second-section__title">A long time ago, in a galaxy far, far away...</h2>
      <div>
        <img src="./assets/r2d2_c3p0.jpg" alt="R2D2 and C3PO" class="second-section__image">
        <div class="second-section__text">
          <p>
            La Guerre des étoiles (titre original Star Wars, soit littéralement Guerres Stellaires ) est une épopée cinématographique de science-fiction créée par George Lucas, considérée comme un élément phare du space opera. Prévue à la base pour être une suite de trois trilogies (triptyque), Lucas fut contraint, par manque de moyens techniques, de commencer par la seconde trilogie (l'Épisode IV - Un nouvel espoir) en 1977. La série connut un succès phénoménal partout dans le monde et engendra une très importante communauté de fans. Sans prétendre expliquer le succès du premier film (s'il y avait une recette, cela se saurait), on peut, toutefois, noter que, malgré le manque de moyens (le budget était relativement modeste, les acteurs presque inconnus) :
            <br>
            - Il fait appel à des références connues et appréciées des jeunes de l'époque : films de cape et d'épée, westerns, péplums, contes de fées et même le Seigneur des Anneaux de J.R.R. Tolkien ; cette œuvre n'apparaît pas comme de la science-fiction au sens strict mais plutôt comme du space fantasy.
            <br>
            - Les effets spéciaux, supervisés par Ken Ralston, étaient réellement novateurs, avec notamment la participation de John Dykstra (qui a également participé au premier film de Star Trek), qui avait développé une nouvelle manière d'animer les maquettes des vaisseaux en coordonnant leurs mouvements par ordinateur (Dykstraflex).
            <br>
            - Le film a développé un univers cohérent, avec, comme préoccupation constante, autant la création d'une ambiance que l'action proprement dite.
            <br>
            - La musique, composée par John Williams, introduit des thèmes récurrents et des leitmotivs (procédé classique mais renforçant la cohérence).
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <img src="./assets/stormtroopers.jpg" alt="Stormtrooper army" class="footer__banner">
  <section class="footer__content">
    <p class="footer__legal-text">TM Lucasfilm Ltd. All Rights Reserved.</p>
    <div class="footer__columns">
      <div class="footer__links">
        <ul class="footer__list">
          <li class="footer__list-item"><a href="/">Terms of Use</a></li>
          <li class="footer__list-item"><a href="/">Legal Notices</a></li>
          <li class="footer__list-item"><a href="/">Privacy Policy</a></li>
        </ul>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="/">Your California Privacy Rights</a></li>
          <li class="footer__list-item"><a href="/">Star Wars at Disney Store</a></li>
          <li class="footer__list-item"><a href="/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer__social-links">
        <p>FOLLOW STAR WARS</p>
        <div class="footer__social-links-list">
          <a href="/"><img src="./assets/icon_facebook.png" alt="Facebook" class="footer__icon"></a>
          <a href="/"><img src="./assets/icon_twitter.png" alt="Twitter" class="footer__icon"></a>
          <a href="/"><img src="./assets/icon_instagram.png" alt="Instagram" class="footer__icon"></a>
        </div>
      </div>
    </div>
  </section>
</footer>