* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.parallax {
  position: relative;
}

.nav {
  position: fixed;
  background-color: #0009;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  z-index: 1;
}

.nav__button {
  all: unset;
  cursor: pointer;
  padding: 20px;
  align-self: flex-end;
}

.nav__list {
  visibility: hidden;
  height: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav--visible {
  background-image: url('./assets/header-bg.png');
  height: 100vh;
}

.nav__list--visible {
  visibility: visible;
  height: auto;
}

.image--invisible {
  visibility: hidden;
  width: 0;
}

.nav__list-item {
  white-space: nowrap;
  width: fit-content;
  text-transform: uppercase;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 850px) {
  .nav {
    height: auto;
    background-image: none;
  }

  .nav__list {
    visibility: visible;
    flex-direction: row;
    justify-content: center;
    height: auto;
  }

  .nav__button {
    display: none;
  }

  .nav__list-item + .nav__list-item {
    padding-left: 30px;
  }
}

.hero {
  background-image: url('./assets/header-bg.png');
  height: 80vh;
  max-height: 100vw;
  display: flex;
}

.hero__container {
  margin: auto;
}

.hero__image {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 80px;
}

.js-scroll {
  transition: opacity 500ms;
}

.text-container {
  width: 80%;
  margin: 0 auto;
}

.first-section {
  display: flex;
  justify-content: space-around;
  margin: 150px auto;
}

.first-section__text {
  font-size: 1.125rem;
  text-align: center;
}

.first-section__image {
  display: none;
}

@media (min-width: 750px) {
  .first-section__text {
    text-align: left;
    max-width: 40%;
  }

  .first-section__image {
    display: block;
    margin-left: 80px;
    object-fit: contain;
    align-self: flex-start;
    position: sticky;
    top: 80px;
  }
}

.second-section {
  margin-bottom: 80px;
}

.second-section__banner {
  width: 100%;
  min-height: 60vh;
  object-fit: cover;
}

.second-section__title {
  padding: 3rem;
  font-size: 2rem;
  font-weight: normal;
}

.second-section__image {
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
}

.second-section__text {
  line-height: 2;
}

.second-section__list {
  list-style-type: '- ';
}

@media (min-width: 750px) {
  .second-section__image {
    margin-right: 40px;
    width: fit-content;
    float: left;
  }
}

.footer__banner {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  position: relative;
  top: 4px;
}

.footer__content {
  height: 30vh;
  background-color: rgb(24, 24, 24);
  background-image: url('./assets/darthvader.jpg');
  background-repeat: no-repeat;
  background-position: center;
  color: grey;
  font-size: 0.75rem;
  display: flex;
  padding-top: 20px;
}

.footer__columns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.footer__legal-text {
  display: none;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__list-item {
  text-decoration: underline;
  padding-bottom: 1rem;
}

.footer__social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__icon {
  padding: 10px;
}

@media (min-width: 750px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer__legal-text {
    display: block;
  }

  .footer__columns {
    flex-direction: row;
    justify-content: center;
  }

  .footer__links {
    width: 70%;
  }

  .footer__list-item {
    padding-bottom: 2rem;
  }

  .footer__social-links {
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
  }
}
